@use '../utils' as *;

/*----------------------------------------*/
/*  2.6 Background
/*----------------------------------------*/
.grey-bg {
	background-color: var(--tp-grey-1);
}
.grey-bg-2 {
	background-color: var(--tp-grey-3);
}
.grey-bg-3 {
	background-color: var(--tp-grey-5);
}
.white-bg {
	background-color: var(--tp-common-white);
}
.black-bg {
	background-color: var(--tp-common-black);
}
.black-bg-2{
	background-color: var(--tp-common-black-3);
}
.black-bg-3{
	background-color: var(--tp-common-black-4);
}
.theme-bg{
	background-color: var(--tp-theme-1);
}
.theme-bg-2{
	background-color: var(--tp-theme-2);
}
.green-bg{
	background-color: var(--tp-common-green);
}
.green-bg-2{
	background-color: var(--tp-common-green-2);
}
