@use '../../utils' as *;

/*----------------------------------------*/
/*  5.2 Postbox css
/*----------------------------------------*/

// postbox css start

.postbox{
    &__wrapper{
        padding-right: 30px;
        @media #{$md,$xs}{
            padding-right: 0;
        }
    }
    &__thumb{
        position: relative;
        & .play-btn{
            position: absolute;
            top: 38%;
            left: 44%;
            z-index: 1;
            & a{
                height: 85px;
                width: 85px;
                line-height: 87px;
                &::after{
                    display: none;
                }
            }
        }
    }
    &__video-thumb{
        position: relative;
        &::after{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background-color: rgb(27, 31, 46);
            opacity: .2;
        }
    }
    &__item{
        &-single{
            &:hover{
                box-shadow: none;
            }
        }
    }
    &__tag{
        position: absolute;
        top: 20px;
        right: 20px;
        & span{
            margin-bottom: 0;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            padding: 9px 20px;
            display: inline-block;
            text-transform: capitalize;
            color: var(--tp-common-white);
            background: var(--tp-theme-1);
            line-height: 1.1;
        }
    }
    &__content{
        padding-top: 28px;
        @media #{$xs}{
            padding-left: 10px;
            padding-right: 10px;
        }
        &-single{
            padding-left: 0;
            padding-right: 0;
            border: none;
        }
    }
    &__title{
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 22px;
        color: var(--tp-theme-2);
        @media #{$lg,$md,$sm}{
            font-size: 30px;
        }
        @media #{$xs}{
            font-size: 25px;
        }
        & a{
            &:hover{
                color: var(--tp-theme-2);
            }
        }
    }
    &__meta{
        margin-bottom: 20px;
        & span{
            position: relative;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: rgba($color: #020626, $alpha: 0.6);
            margin-right: 25px;
            @media #{$xs}{
                font-size: 14px;
                margin-right: 23px;
            }
            &:last-child{
                margin-right: 0;
            }
            &:not(:last-of-type){
                &::before{
                    position: absolute;
                    content: "";
                    height: 1px;
                    width: 9px;
                    background: #676A7D;
                    top: 10px;
                    right: -20px;
                }
            }
            & i{
                margin-right: 7px;
                color: var(--tp-theme-1);
                &.tag{
                    transform: rotate(90deg);
                }
            }
        }
    }
    &__blockquote{
        &-shape{
            position: absolute;
            bottom: 34px;
            right: 44px;
        }
        & blockquote{
            background: #F4F6F8;
            padding: 35px 26px;
            margin-bottom: 50px;
            margin-top: 50px;
            &::after{
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                clip-path: polygon(64% 0, 0 0, 0 68%);
                background: var(--tp-theme-2);
                height: 40px;
                width: 40px;
            }
            & p{
                font-weight: 400;
                font-size: 24px;
                margin-bottom: 25px;
                color: var(--tp-theme-2);
            }
            & cite{
                font-weight: 400;
                font-size: 16px;
                color: #332D2D;
                font-style: inherit;
                position: relative;
                &::before {
                    content: "";
                    font-size: 28px;
                    color: #fff;
                    padding-bottom: 0px;
                    display: inline-block;
                    background: #191515;
                    height: 2px;
                    width: 16px;
                    font-weight: 400;
                    text-align: center;
                    top: -4px;
                    margin-right: 10px;
                    position: relative;
                  }
            }
        }
    }
    &__list{
        margin-bottom: 60px;
        &-title{
            font-weight: 600;
            font-size: 28px;
            color: #121D2C;
            margin-bottom: 50px;
        }
        &-content{
            & ul{
                & li{
                    list-style: none;
                    font-weight: 400;
                    font-size: 16px;
                    color: #445658;
                    margin-bottom: 24px;
                    position: relative;
                    padding-left: 40px;
                    & span{
                        height: 27px;
                        width: 27px;
                        line-height: 25px;
                        border-radius: 50%;
                        display: inline-block;
                        text-align: center;
                        background-color: var(--tp-common-white);
                        color: var(--tp-theme-2);
                        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.06);
                        position: absolute;
                        top: 0;
                        left: 0;
                        &.active{
                            background-color: var(--tp-theme-2);
                            color: var(--tp-common-white);
                        }
                    }
                }
            }
        }
    }
    &__details{
        &-share{
            &-wrapper{
                padding-top: 20px;
                padding-bottom: 30px;
                border-bottom: 1px solid #F7F7F7;
            }
            & span{
                font-size: 20px;
                font-weight: 500;
                color: #121416;
                margin-right: 15px;
            }
            & a{
                height: 37px;
                width: 37px;
                text-align: center;
                line-height: 37px;
                display: inline-block;
                background-color: #F2F6F7;
                color: var(--tp-common-black);
                margin-right: 10px;
                transition: all .3s ease-in-out;
                @media #{$lg} {
                    margin-bottom: 10px;
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    margin-right: 5px;
                }
                &:hover{
                    background-color: var(--tp-theme-2);
                    color: var(--tp-common-white);
                }
            }
        }
        &-tag{
            & span{
                font-size: 20px;
                font-weight: 500;
                color: #121416;
                margin-right: 6px;
            }
        }
    }
    &__read-more{
        & .postbox-btn{
            position: relative;
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
            color: #132047;
            & span{
                margin-left: 5px;
                &::before{
                    position: absolute;
                    content: "";
                    top: 1px;
                    right: -10px;
                    border: 1px solid #E8F2F9;
                    height: 28px;
                    width: 28px;
                    display: inline-block;
                    border-radius: 50%;
                }
            }
        }
    }
    &__text{
        & img{
            max-width: 100%;
        }
        & p{
            font-weight: 400;
            font-size: 18px;
            line-height: 1.8;
            color: #838383;
            margin-bottom: 28px;
        }
        &-single{
            & p{
                margin-bottom: 15px;
            }
        }
    }
    &__slider{
        & button{
            position: absolute;
            left: 50px;
            top: 50%;
            @include transform(translateY(-50%));
            z-index: 1;
            font-size: 30px;
            color: var(--tp-common-white);
            &.postbox-slider-button-next{
                left: auto;
                right: 50px;
                @media #{$xs}{
                    right: 10px;
                }
            }
            @media #{$xs}{
                left: 10px;
            }
        }
    }
    &__comment{
        &-info{
            @media #{$xs}{
                flex-wrap: wrap;
            }
        }
        & ul{
            & li{
                list-style: none;
                padding-bottom: 30px;
                margin-bottom: 30px;
                border-bottom: 1px solid #e9ebea;
                &:last-child{
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-bottom: 0;
                }
                &:nth-child(2n){
                    padding-left: 100px;
                    @media #{$xs}{
                        padding-left: 0;
                    }
                }
                &.children{
                    margin-left: 65px;
                    @media #{$xs}{
                        margin-left: 15px;
                    }
                }
            }
        }
        &-title{
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 40px;
            color: var(--tp-theme-2);
        }
        &-avater{
            flex: 0 0 auto;
            @media #{$md}{
                margin-right: 20px;
            }
            @media #{$xs}{
                margin-right: 0px;
                margin-bottom: 20px;
            }
            & img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
            }
        }
        &-name{
            margin-bottom: 5px;
            & h5{
                font-weight: 600;
                font-size: 18px;
                line-height: 1;
                margin-bottom: 15px;
                color: var(--tp-theme-2);
                font-family: var(--tp-ff-dmsans);
            }
            & span{
                font-weight: 500;
                font-size: 12px;
                color: #949392;
            }
        }
        &-text{
            @media #{$xs}{
                margin-left: 0;
                margin-top: 15px;
            }

            & p{
                font-size: 16px;
                color: #838383;
                margin-bottom: 15px;
                @media #{$lg} {
                    font-size: 15px;
                }
            }
        }
        &-reply{
            & span{
                position: absolute;
                top: -7px;
                right: 50px;
            }
        }
        &-agree{
            padding-left: 5px;
            & input{
                margin: 0;
                appearance: none;
                -moz-appearance: none;
                display: block;
                width: 16px;
                height: 16px;
                background: var(--tp-common-white);
                border: 1px solid #949392;
                outline: none;
                flex : 0 0 auto;
                @include transform(translateY(-1px));
                &:checked{
                    position: relative;
                    background-color: var(--tp-theme-1);
                    border-color: transparent;
                    &::after{
                        box-sizing: border-box;
                        content: '\f00c';
                        position: absolute;
                        font-family: var(--tp-ff-fontawesome);
                        font-size: 10px;
                        color: var(--tp-common-white);
                        top: 47%;
                        left: 50%;
                        @include transform(translate(-50%, -50%));
                    }
                }
                &:hover{
                    cursor: pointer;
                }
            }
            & label{
                padding-left: 8px;
                color: #838383;
                line-height: 1;
                & a{
                    color: var(--tp-common-black);
                    font-weight: 600;
                    padding-left: 4px;
                    &:hover{
                        color: var(--tp-theme-1);
                    }
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    &__play-btn{
        & a{
            height: 85px;
            width: 85px;
            line-height: 85px;
            background-color: var(--tp-common-white);
            color: var(--tp-theme-2);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            border-radius: 50%;
            animation: pulse 2s infinite;
            z-index: 5;
        }
    }
    &__star{
        & i{
            color: #ffb800;
        }
    }
}
.postbox{
    &__slider-arrow-wrap{
        & button{
            height: 50px;
            width: 50px;
            line-height: 50px;
            background-color: var(--tp-common-white);
            color: var(--tp-common-black);
            text-align: center;
            font-size: 18px;
        }
        & .postbox-arrow-prev{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            z-index: 9;
        }
        & .postbox-arrow-next{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            z-index: 9;
        }
    }
}
.postbox{
    &__details-tag{
        @media #{$md}{
            margin-bottom: 30px;
        }
    }
}
.basic-pagination{
    margin-bottom: 40px;
    & ul{
        & li{
            list-style: none;
            display: inline-block;
            margin-right: 14px;
            @media #{$xs} {
                margin-right: 5px;
            }
            &:hover{
                & a{
                    color: var(--tp-common-white);
                    background-color: var(--tp-theme-2);
                    border: 2px solid var(--tp-theme-2);
                }
            }
            & a{
                height: 50px;
                width: 50px;
                display: inline-block;
                line-height: 50px;
                text-align: center;
                font-weight: 900;
                font-size: 15px;
                color: #071C34;
                border: 2px solid #EDEDED;
                transform: translateY(3px);
                transition: all .3s ease-in-out;
            }
            & .current{
                height: 50px;
                width: 50px;
                display: inline-block;
                line-height: 50px;
                text-align: center;
                font-weight: 900;
                font-size: 15px;
                color: var(--tp-common-white);
                background-color: var(--tp-theme-2);
                transition: all .3s ease-in-out;
            }
        }
    }
}
