@use '../../utils' as *;

/*----------------------------------------*/
/*  5.3 Recent Post css
/*----------------------------------------*/

.rc{
    &__post{
        & ul{
            & li{
                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }
        &-title{
            font-weight: 600;
            font-size: 16px;
            color: var(--tp-theme-2);
            font-family: var(--tp-ff-dmsans);
            @media #{$lg}{
                font-size: 15px;
            }
            & a{
                &:hover{
                    color: var(--tp-theme-2);
                }
            }
        }
    }
    &__meta{
        & span{
            font-weight: 400;
            font-size: 15px;
            color: #888686;
            display: block;
            margin-bottom: 7px;
            & svg{
                margin-right: 3px;
                transform: translateY(-2px);
                color: var(--tp-theme-1);
            }
        }
    }
    &__post-thumb{
        flex: 0 0 auto;
    }
}