$colors: (
    'common': (
        'white': #ffffff,
        'black': #020626,
        'black-2': #222637,
        'black-3': #1b1f2e,
        'black-4': #1f2434,
        'green': #19443f,
        'green-2': #104139,
    ),
    'grey': (
        '1':#050505,
        '2':#838694,
        '3':#f7f7f9,
        '4':#9898a0,
        '5':#f8f8f8,
        '6':#f5f5f5,
    ),
    'text': (
        'body':#767676,
    ),
    'theme': (
        '1': #e67850,
        '2': #0e3531,
    ),
    'border': (
        '1': #F1F1F9,
        '2': #e8e8e8,
    )
);


$white : #fff;
$black : #020626;
$theme-primary : #336EF9;
$border-primary : #F1F1F9;