@use '../../utils' as *;

/*----------------------------------------*/
/*  7.1 404 css start
/*----------------------------------------*/

.tp-errror{
    &-wrap{
        & img{
            margin-bottom: 65px;
        }
        & h4{
            font-size: 60px;
            color: var(--tp-theme-2);
            margin-bottom: 0;
            @media #{$md}{
                font-size: 45px;
            }
            @media #{$xs}{
                font-size: 35px;
            }
            &.text-bottom{
                font-family: var(--tp-ff-dmsans);
                margin-bottom: 40px;
            }
            &.text-top{
                margin-bottom: -50px;
                margin-left: -50px;
                @media #{$xs}{
                    margin-bottom: 0;
                    margin-left: 0;
                }
            }
        }
    }
}
